<%- include("../includes/head") %> 

<body>
<!-- Header -->
<%- include("../includes/header") %> 
<!-- Fin del Header -->
  <!-- Main -->
      <main>
  <!-- Section -->
  <nav id="categorias">
    <a href="/productos/fresca">Frescas</a>
    <a href="/productos/liviana">Livianas</a>
    <a href="/productos/pesada">Pesadas</a>
  </nav>
<section class="productos">
  <h3 class="titulares">¡No llegues a esa ocasión especial sin una SUPER TORTA!</h3>

<!-- querría poner que si llega req.params.category por url, muestre los productos que tienen ese category coincidente
si no llega un req params, muestra todos los productos -->


  <%=  %> 
  <% products.forEach(producto => { %>
    <article>
            <figure><img src="<%= producto.imagen%>" alt=""></figure>
            <section>
              <h3 class="descripciones"> <%= producto.name %></h3>
              <p class="precios"> $<%= producto.precio %></p>
              <a href='/productos/detalle/<%= producto.id %>'  class="botonproductos">Ver más info</a>
            </section>
    </article>        
  <% }) %> 


<!--
    <article>
      <figure>	
        <img src="/img/BANANASPLIT.jpg" alt="imagen BANANASPLIT" width="300">
      </figure>
      <section>
        <h3 class="descripciones">Banana Split</h3>
        <p class="precios">$2100</p>
        <p class="botonproductos">Ver más info</p>

      </section>
    </article>

  <article>
    <figure>	
      <img src="/img/BOMBA.jpg" alt="imagen BOMBA" width="300">
    </figure>
    <section>
      <h3 class="descripciones">Bomba</h3>
      <p class="precios">$2300</p>
      <p class="botonproductos">Ver más info</p>

    </section>
  </article>

<article>
  <figure>	
    <img src="/img/BONOBON.jpg" alt="imagen BONOBON" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Bonobón</h3>
    <p class="precios">$2500</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/COCO.jpg" alt="imagen COCO" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Coco</h3>
    <p class="precios">$2000</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/DDLCREMA.jpg" alt="imagen DDLCREMA" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Dulce de leche con crema</h3>
    <p class="precios">$2200</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/DURAZNO.jpg" alt="imagen DURAZNO" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Durazno</h3>
    <p class="precios">$2100</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/FRUTILLA.jpg" alt="imagen FRUTILLA" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Cheesecake</h3>
    <p class="precios">$2200</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/HAVANNET.jpg" alt="imagen HAVANNET" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Havannet</h3>
    <p class="precios">$2300</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/KEYLIME.jpg" alt="imagen KEYLIME" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Keylime</h3>
    <p class="precios">$2400</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/LEMONPIE.jpg" alt="imagen LEMONPIE" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Lemon Pie</h3>
    <p class="precios">$2100</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/MARACUYA.jpg" alt="imagen MARACUYA" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Maracuyá</h3>
    <p class="precios">$2300</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/MERENGUE.jpg" alt="imagen MERENGUE" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Merengue y dulce de leche</h3>
    <p class="precios">$2400</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/NUTELLA.jpg" alt="imagen NUTELLA" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Nutella</h3>
    <p class="precios">$2500</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/OREO.jpg" alt="imagen OREO" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Oreo</h3>
    <p class="precios">$2400</p>
    <p class="botonproductos">Ver más info</p>

  </section>
</article>

<article>
  <figure>	
    <img src="/img/ROGEL.jpg" alt="imagen ROGEL" width="300">
  </figure>
  <section>
    <h3 class="descripciones">Rogel</h3>
    <p class="precios">$2300</p>
    <p class="botonproductos">Ver más info</p>

  </section>
-->

</section>
      </main>
  <!-- Footer -->
<%- include("../includes/footer") %> 
</body>